{% extends "base.html" %}

{% block content %}

{# It looks like this div is mismatched b/c of below if statement #}
<div class="row">
    {% if alphalist %}
    <div class="col-xs-10">
    {% else %}
    <div class="col-xs-12">
    {% endif %}

        {% if sorters %}
        <div>
            <h2>{{ current_session }}</h2>

            <form action="" method="get" role="form">
                <div class="form-group selectFix"> Filter by {{ sorter_type }} 
                  
                        <select multiple name="bill_sorters" class="form-control prefs-multiple"  style="width: 100%">
                            {% for sorter in sorters %}
                                {% if sorter.selected %}
                                    <option value="{{ sorter.item }}" selected="True">{{ sorter.item }}</option>
                                {% else %}
                                    <option value="{{ sorter.item }}">{{ sorter.item }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                  
                    <input type="submit" class="mt20 btn btn-primary" value="GO"/>
                </div>
            </form>
        </div>
        {% endif %}

        {% if bills %}
            {% regroup bills by sorter as sorted_bill_list %}

            {% for billdict in sorted_bill_list %}
            <div id="{{ billdict.grouper }}">

                <div class="heading"><strong>{{ billdict.grouper.upper }}</strong></div>

                {% for billlist in billdict.list %}
                
                <p class="lead"><strong>{{ billlist.name|title }}</strong></p>
                    {% for bill in billlist.bills %}
                    <div>
                        <p><a href="{% url 'bill_detail' bill.legislative_session.identifier bill.identifier %}" > {{ bill.identifier }} </a> - {{ bill.title }} </p>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <hr/>
            {% endfor %}
        {% else %}
        <div>
            <p class="lead">No results for this query</p>
        </div>

        {% endif %}
    </div>

    {% if alphalist %}
    <div class="col-xs-2 sidebar" >
        <ul class="nav nav-sidebar">
        {% for letter in letters %}
            <li><a href="#{{ letter }}"> {{ letter }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block bottomscript %}
    $(".prefs-multiple").select2();

{% endblock %}
