{% extends "base.html" %}

{% block colclass %} col-sm-12 {% endblock %}
{% block content %}

<h2>{{ current_session }}</h2>

<div class="row">
    <div class="col-sm-6">
        <form action="" method="get" role="form">
            <div class="form-group">
                <label>Filter by Subject</label>
                <select multiple name="subjects" class="prefs-multiple form-control" style="width: 100%">
                    {% for subject in subjects %}
                        {% if subject.selected %}
                            <option value="{{ subject.item }}" selected="True">{{ subject.item }}</option>
                        {% else %}
                            <option value="{{ subject.item }}">{{ subject.item }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>Filter by bill text</label>
                <input class="form-control" type="text" name="search_text" value="{{ search_text }}">
            </div>

            <input type="submit" class="btn btn-primary btn-lg" value="GO"/>
         </form>
    </div>
</div>
       
<hr/>

{% if latest_bills %}
    {% for bill in latest_bills %}
        <div class="cur_session_bill">
            
            <h4>{{ bill.title }}</h4>
            <p><strong>{{ bill.identifier }}</strong></p>
            <p>
                <span>Sponsor(s): </span>
                {% for sponsor in bill.sponsorships.all %}
                    {{ sponsor.name }}
                {% endfor %}
            </p>

            <p>Latest action: {{ bill.latest_action.description }} -  {{ bill.latest_action.date }}</p>

            <a href="{% url 'bill_detail' bill.legislative_session.identifier bill.identifier %}" class="btn btn-primary">More on this bill</a>

            <hr/>
        </div>
    {% endfor %}
{% else %}
    <div>
        <p class="lead">No results for this query</p>
    </div>
{% endif %}

{% endblock %}

{% block bottomscript %}
    $(".prefs-multiple").select2();
{% endblock %}
