{% extends "base.html" %}
{% load names %}
{% block colclass %} bill_details {% endblock %}

{% load bills %}

{% block content %}


<div>
    <h5 class="bill_detail_title">{{ bill.title }}</h5>
</div>

<div>
    <p class="lead">{{ bill.identifier }}</p>
</div>

<div><a href="#bill_embed" role="button" data-toggle="collapse">View Latest</a></div>
<div id="bill_embed" class="collapse">
    <iframe class="iframeborder" src="{{ versions.0.links.all.0.url|force_https }}" width="90%" height="800px" longdesc="this is the text for the bill"></iframe>
</div>

<div>
    <h4>Sponsorships</h4>
    {% if sponsors %}
    {% for sponsor in sponsors %}
        {% if sponsor.primary %}
            <p>Primary sponsor:</p>
        {% else %}
            <p>Co-sponsor:</p>
        {% endif %}
        {% if sponsor.person.id %}
        <h2><a href="{% url 'legislator_detail' sponsor.person.id %}">{{ sponsor.entity_name|name_swap }}</a></h2>
        {% else %}
        <h2>{{ sponsor.entity_name|name_swap }}</h2>
        {% endif %}
        {% if sponsor.person.image %}
        <a href="{% url 'legislator_detail' sponsor.person.id %}">
            <img class="detail_img" src="{{ sponsor.person.image }}" width="197" height="256">
        </a>
        {% endif %}

        {% if sponsor.party %}
        <p class="party">{{ sponsor.party }}</p>
        {% endif %}
    {% endfor %}
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>History</h4>
    {% if history %}
    {% for action in history %}
    <p>{{ action.date }} - {{ action.description }}</p>
    {% endfor %}
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>Documents</h4>
    {% if documents %}
    <ul>
    {% for document in documents %}
        <li>{{ document.note }}</li>
        <ul>
            {% for link in document.links.all %}
            <li><a href="{{ link.url }}">{{ link.url }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>Subjects</h4>
    {% if bill.subject %}
    <ul>
    {% for subject in bill.subject %}
    <li><a href="{% url 'by_topic' %}?bill_sorters={{subject}}">{{ subject }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>Locations</h4>
    {% if bill.extras.places %}
    <ul>
    {% for location in bill.extras.places %}
    <li><a href="{% url 'by_location' %}?bill_sorters={{location}}">{{ location }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>Versions</h4>
    {% if verions %}
    <ul>
    {% for version in versions %}
        <li>{{ version.note }} - {{ version.date }}</li>
            <ul>
            {% for link in version.links.all %}
                <li><a href="#version_text" data-toggle="collapse">View Text</a></li>
                    <div id="version_text" class="collapse">
                        <iframe class="iframeborder" src="{{ link.url }}" width="90%" height="800px" longdesc="this is the text for the bill"></iframe>
                    </div>

            {% endfor %}
            </ul>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>Votes</h4>
    {% if votes %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Motion Text</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for vote_event in  votes %}
                <tr>
                    <td>
                        {{ vote_event.start_date }}
                    </td>
                    <td>
                        {{ vote_event.motion_text }}
                    </td>
                    <td class="vote_result">{{ vote_event.result }}</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<div>
    <h4>Roll Call</h4>
    {% if votes %}
    <p>{{ votes.0.motion_text }}</p>

    {% regroup people_votes by option as option_list %}

    {% for option in option_list %}
    <p class="lead">Vote type: {{ option.grouper }}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>District</th>
                    <th>Party</th>
                </tr>
            </thead>
            <tbody>
                {% for item in option.list %}
                <tr>
                    <td>
                    <a href="{% url 'legislator_detail' item.id %}">{{ item.name }}</a>
                    </td>
                    <td>
                        {{ item.post }}
                    </td>
                    <td>
                        {{ item.party }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr/>
    {% endfor %}
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}

</div>

<div>
    <h4>Sources</h4>
    {% if bill.sources.all %}
   
    {% for source in bill.sources.all %}
   <a href="{{source.url}}">{{ source.url }}</a>
    {% endfor %}
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

{% endblock %}

{% block bottomscript %}

function toggle(div_id) {
    $("#" + div_id).toggle();
}

glossary_replace();

{% endblock %}
