{% extends "base.html" %}

{% block content %}

<div>
    <p class="lead">{{ bill.identifier }}</p>
</div>

<div>
    {{ bill.title }}
</div>

<div>
    <a href="{{ versions.0.links.all.0.url }}">View Latest</a>
</div>

<iframe class="iframeborder" src="{{ versions.0.links.all.0.url }}" width="90%" height="800px" longdesc="this is the text for the bill"></iframe>

<hr/>

<div>
    <p><strong>Sponsorships</strong></p>
    {% if sponsors %}
    {% for sponsor in sponsors %}
        {% if sponsor.primary %}
            <p>Primary sponsor:</p>
        {% else %}
            <p>Co-sponsor:</p>
        {% endif %}
        <a href="{% url 'legislator_detail' sponsor.person.id %}">
            <img src="{{ sponsor.person.image }}">
            <p>{{ sponsor.entity_name }}</p>
        </a>
        <p>{{ sponsor.party }}</p>
    {% endfor %}
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>History</strong></p>
    {% if history %}
    {% for action in history %}
    <p>{{ action.date }} - {{ action.description }}</p>
    {% endfor %}
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>Documents</strong></p>
    {% if documents %}
    <ul>
    {% for document in documents %}
        <li>{{ document.note }}</li>
        <ul>
            {% for link in document.links.all %}
            <li><a href="{{ link.url }}">{{ link.url }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>Subjects</strong></p>
    {% if bill.subject %}
    <ul>
    {% for subject in bill.subject %}
    <li><a href="{% url 'by_topic_selected' subject %}">{{ subject }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>Locations</strong></p>
    {% if bill.extras.places %}
    <ul>
    {% for location in bill.extras.places %}
    <li><a href="{% url 'by_location_selected' location %}">{{ location }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>Versions</strong></p>
    {% if verions %}
    <ul>
    {% for version in versions %}
        <li>{{ version.note }} - {{ version.date }}</li>
            <ul>
            {% for link in version.links.all %}
                <li><a href="{{ link.url }}">View PDF</a></li>
                <li><a href="#version_text" data-toggle="collapse">View Text</a></li>
                    <div id="version_text" class="collapse">
                        {{ link.text }}
                    </div>

            {% endfor %}
            </ul>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>Votes</strong></p>
    {% if votes %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Motion Text</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for vote_event in  votes %}
                <tr>
                    <td>
                        {{ vote_event.start_date }}
                    </td>
                    <td>
                        {{ vote_event.motion_text }}
                    </td>
                    <td>
                        {{ vote_event.result }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

<hr/>

<div>
    <p><strong>Sources</strong></p>
    {% if bill.sources.all %}
    <ul>
    {% for source in bill.sources.all %}
    <li><a href="{{source.url}}">{{ source.url }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No information available at this time.</p>
    {% endif %}
</div>

{% endblock %}

{% block bottomscript %}

function toggle(div_id) {
    $("#" + div_id).toggle();
}

{% endblock %}
