
{% extends "base.html" %}


{% load staticfiles %}

{% block head %}
<script src='https://maps.googleapis.com/maps/api/js'></script>
<script src='{% static "js/gmaps.js" %}'></script>
<script>
$(document).ready(function() {
    $('#location_submit').click(function(e){
        e.preventDefault();
        GMaps.geocode({
            address: $('#address').val().trim(),
            callback: function(results, status){
                if ( status == 'OK' ){
                    var latlng = results[0].geometry.location,
                            lat = latlng.lat(),
                            lon = latlng.lng();
                    console.log(lat);
                    console.log(lon);
                    var url = '{% url "latest_latlon" %}?' + $.param({'lat': lat, 'lon':lon});
                    $.ajax(url).done(function(data) {
                        $('#leg_info').html(data);
                    });
                }
            }
        });
    });

});
</script>

{% endblock %}

{% block content %}

{% if user.is_anonymous %}
<div>
    <form action="" method="get">
    {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <div>Filter by Subject
                    <select multiple name="subjects" class="prefs-multiple">
                        {% for subject in subjects %}
                            {% if subject.selected %}
                                <option value="{{ subject.item }}" selected="True">{{ subject.item }}</option>
                            {% else %}
                                <option value="{{ subject.item }}">{{ subject.item }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12">Filter by bill text
                <input type="text" name="search_text" value="{{ search_text }}">
            </div>
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary btn-lg" value="GO"/>
            </div>
        </div>
    </form>
</div>
{% else %}
    <p>Based on your <a href="{% url 'preferences' %}">user preferences</a></p>
{% endif %}


<hr/>


{% if bills_by_selected_filter %}
    {% for entry in bills_by_selected_filter %}
        <div>
            <p>Latest bill activity:</p>
            <span>
                <strong>{{ entry.heading|title }}</strong>
                <br/>__________________
            </span>
        <div>

        {% if entry.bills %}
            {% for bill in entry.bills %}
            <div class="individual_bill">
                <p><strong>{{ bill.identifier }}</strong></p>
                <p>{{ bill.title }}</p>
                <p>
                    <span>Sponsor(s): </span>
                    {% for sponsor in bill.sponsorships.all %}
                        {{ sponsor.name }}
                    {% endfor %}
                </p>

                <p>Latest action: {{ bill.latest_action.description }} -  {{ bill.latest_action.date }}</p>

                <a href="{% url 'bill_detail' bill.legislative_session.identifier bill.identifier %}" class="btn btn-primary">More on this bill</a>
                <br/>
                <br/>
            </div>
            {% endfor %}
            <hr/>
        {% else %}
            <div>No recent activity</div>
            <hr/>
        {% endif %}
    {% endfor %}
{% else %}
    <div>
        <p class="lead">No Preferences selected</p>
    </div>
{% endif %}

{% endblock %}

{% block bottomscript %}
    $(".prefs-multiple").select2();
{% endblock %}
