{% extends "home_base.html" %}
{% load names %}
{% load staticfiles %}
{% block head %}

<script src='https://maps.googleapis.com/maps/api/js'></script>
<script src='{% static "js/gmaps.js" %}'></script>
<script>
$(document).ready(function() {
    $('#location_submit').click(function(e){
        e.preventDefault();
        GMaps.geocode({
            address: $('#address').val().trim(),
            callback: function(results, status){
                if ( status == 'OK' ){
                    var latlng = results[0].geometry.location,
                            lat = latlng.lat(),
                            lon = latlng.lng();
                    var url = '{% url "latest_latlon" %}?' + $.param({'lat': lat, 'lon':lon});
                    $.ajax(url).done(function(data) {
                        $('#leg_info').html(data);
                    });
                }
            }
        });
    });

});
</script>

{% endblock %}

{% block content %}

<h2 class="text-center intro">Welcome to Tabs on Tallahassee</h2>
{% if user.is_anonymous %}
<div class="col-sm-7">
    {% include "bills/bill_selection_form.html" %}
</div>
<!-- <div class="col-sm-4 col-sm-offset-1 news">
    <h4>News</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis qui quidem, officiis optio assumenda in blanditiis voluptates laudantium eos iure eaque quasi nihil consectetur architecto quam totam porro, nemo dolorem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis qui quidem, officiis optio assumenda in blanditiis voluptates laudantium eos iure eaque quasi nihil consectetur architecto quam totam porro, nemo dolorem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis qui quidem, officiis optio assumenda in blanditiis voluptates laudantium eos iure eaque quasi nihil consectetur architecto quam totam porro, nemo dolorem.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis qui quidem, officiis optio assumenda in blanditiis voluptates laudantium eos iure eaque quasi nihil consectetur architecto quam totam porro, nemo dolorem.</p>

    <a class="btn btn-primary" role="button" href="{% url 'current_session' %}">Jump to the latest news</a>
</div> -->

{% else %}
    <h2>Latest Bill Activity</h2>
    <p>Based on your <a href="{% url 'preferences' %}">user preferences</a></p>
{% endif %}

<hr/>

{% if bills_by_selected_filter %}
<div class="col-sm-12">
    {% for entry in bills_by_selected_filter %}
        <div>
            <p>Latest bill activity:</p>
            <span>
                <strong>{{ entry.heading|title|name_swap }}</strong>
                <br/>__________________
            </span>
        <div>

        {% if entry.bills %}
            {% for bill in entry.bills %}
            <div class="individual_bill">
                <p><strong>{{ bill.identifier }}</strong></p>
                <p>{{ bill.title }}</p>
                <p>
                    <span>Sponsor(s): </span>
                    {% for sponsor in bill.sponsorships.all %}
                        {{ sponsor.name|name_swap }}
                    {% endfor %}
                </p>

                <p>Latest action: {{ bill.latest_action.description }} -  {{ bill.latest_action.date }}</p>

                <a href="{% url 'bill_detail' bill.legislative_session.identifier bill.identifier %}" class="btn btn-primary">More on this bill</a>
                <br/>
                <br/>
            </div>
            {% endfor %}
            <hr/>
        {% else %}
            <div>No recent activity</div>
            <hr/>
        {% endif %}
    {% endfor %}
{% else %}
    {% if not user.is_anonymous %}
        <div>
            <p class="lead">No Preferences selected</p>
        </div>
    {% endif %}
</div>
{% endif %}

{% endblock %}

{% block bottomscript %}
    $(".prefs-multiple").select2();
{% endblock %}
