{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<script src='https://maps.googleapis.com/maps/api/js'></script>
<script src='{% static "js/gmaps.js" %}'></script>
<script>
$(document).ready(function() {

    $("button").click(function(){
        $.ajax({url: '{% url "latest_latlon" %}', success: function(result){
            $("#leg_info").html('test.');
        }});
    });

});
</script>
{% endblock %}

{% block content %}


{% if user.is_anonymous %}
<div>
    <h2>Welcome to Tabs on Tallahassee</h2>
    {% include "bills/bill_selection_form.html" %}
</div>
{% else %}
    <h2>Latest Bill Activity</h2>
    <p>Based on your <a href="{% url 'preferences' %}">user preferences</a></p>
{% endif %}

<hr/>

{% if bills_by_selected_filter %}
    {% for entry in bills_by_selected_filter %}

        <div>
            <p>Latest bill activity:</p>
            <span>
                <strong>{{ entry.heading|title }}</strong>
                <br/>__________________
            </span>
        <div>

        {% if entry.bills %}
            {% for bill in entry.bills %}
            <div class="individual_bill">
                <p><strong>{{ bill.identifier }}</strong></p>
                <p>{{ bill.title }}</p>
                <p>
                    <span>Sponsor(s): </span>
                    {% for sponsor in bill.sponsorships.all %}
                        {{ sponsor.name }}
                    {% endfor %}
                </p>

                <p>Latest action: {{ bill.latest_action.description }} -  {{ bill.latest_action.date }}</p>

                <a href="{% url 'bill_detail' bill.legislative_session.identifier bill.identifier %}" class="btn btn-primary">More on this bill</a>
                <br/>
                <br/>
            </div>
            {% endfor %}
            <hr/>
        {% else %}
            <div>No recent activity</div>
            <hr/>
        {% endif %}
    {% endfor %}
{% else %}
    {% if not user.is_anonymous %}
        <div>
            <p class="lead">No Preferences selected</p>
        </div>
    {% endif %}
{% endif %}

{% endblock %}

{% block bottomscript %}
    $(".prefs-multiple").select2();
{% endblock %}
