{% extends "base.html" %}
{% block colclass %} col-md-12 glossary {% endblock %}
{% block content %}

<h2>Glossary</h2>
<table class="table table-striped">
    <caption>A glossary of terms related to the FL Legislature</caption>
    <thead>
        <tr>
            <th>Term</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        {% for term in  all_terms %}
            {% for key, value in term.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    
</table>

<hr/>
<div>
    Source: <a href="http://www.flsenate.gov/Reference/Glossary">Florida Senate Glossary</a>
</div>

{% endblock %}

{% block bottomscript %}
glossary_replace();
{% endblock %}
