{% extends "base.html" %}
{% block colclass %} col-md-6 col-md-offset-3 {% endblock %}
{% block content %}

Glossary!
<br/>
<br/>

<table class="table table-striped">
    <caption>A glossary of terms related to the FL Legislature</caption>
    <thead>
        <tr>
            <th>Term</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        {% for term in  all_terms %}
            {% for key, value in term.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}

{% block bottomscript %}
glossary_replace();
{% endblock %}
