Django>=1.9a1
-e git://github.com/opencivicdata/pupa@0.5.x#egg=pupa
-e git://github.com/opencivicdata/imago@0.5.x#egg=imago
-e git://github.com/opencivicdata/python-opencivicdata-django.git@0.7.x#egg=python-opencivicdata-models

#django/postgres object merging
-e git://github.com/sunlightlabs/waterfall.git#egg=waterfall
-e git://github.com/macropin/django-registration.git@f1dfbd95c3a67308a7e2853e00e8662346b2c96a#egg=registration