{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-2">
            {{ form.username.label_tag }}
        </div>
        <div class="col-md-3">
            {{ form.username }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            {{ form.password.label_tag }}
        </div>
        <div class="col-md-3">
            {{ form.password }}
        </div>
    </div>

    <input class="btn btn-primary btn-bottom" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
<p><a href="{% url 'register' %}">New? Sign Up!</a></p>


{% endblock %}