{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block colclass %} col-md-6 col-md-offset-3 centered_form {% endblock %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}

    {{ form.non_field_errors }}
    
    <p class="errors">{{ form.username.errors }}</p>
    <label for="username">Username:</label> <input class="form-control" id="username" maxlength="254" name="username" type="text">
    
    <p class="errors">{{ form.email.errors }}</p>
    <label for="email">Email:</label> <input class="form-control" id="email" maxlength="254" name="email" type="text">
    
    <p class="errors">{{ form.password1.errors }}</p>
    <label for="password1">Password:</label> <input class="form-control" id="password1" maxlength="254" name="password1" type="password">
    
    <p class="errors">{{ form.password2.errors }}</p>
    <label for="password2">Confirm Password:</label> <input class="form-control" id="password2" maxlength="254" name="password2" type="password">

    <input class="btn btn-lg mt10" type="submit" value="{% trans 'Submit' %}" />

</form>
<br />
<a href="http://www.tribpub.com/central-terms-of-service/">Terms of Service</a><br />
<a href="http://www.tribpub.com/privacy-policy-and-your-privacy-rights/">Privacy Policy</a>
{% endblock %}
