{% extends "base.html" %}

{% block content %}

<div>
    <h2>User Preferences</h2>

    <p>Please select which Senators and Representatives you'd like to follow.</p>
</div>

<form action="" method="post">
{% csrf_token %}


    <div>
        <p class="lead">Senators</p>
        <select multiple name="senators" size="8">
            {% for senator in senators %}
                <option value="{{senator.id}}">{{ senator.name }}</option>
            {% endfor %}
        </select>
    </div>

    <hr/>

    <div>
        <p class="lead">Representatives</p>
        <select multiple name="representitives" size="8">
            {% for representative in representatives %}
                <option value="{{representative.id}}">{{ representative.name }}</option>
            {% endfor %}
        </select>
    </div>

    <hr/>

    <input type="submit"/>
</form>

{% endblock %}