/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.field_entry {
  padding-top: 30px;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.select2-container .select2-search, 
.select2-container .select2-search__field {
    width: 100% !important;
}

.sidebar {
  position: fixed;
  top: 65px;
  bottom: 0;
  right: 0;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #eee;
}


.heading {
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 5px;
}

#map {
  padding-left: 10px;
  padding-bottom: 10px;
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #CCC;
  box-shadow: 0px 5px 20px #CCC;
}

img.legislator-image {
  max-width: 150px;
}
