// applet, object, iframe,body,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend, caption,img, header, section {
//     margin: 0;
//     padding: 0;
//     outline:none;
//     border: none;
//     box-sizing: border-box;
// }

@import "compass/css3";

$black: #000;
$blue: #009FDA;
$mobile : false;

.mb_hide{display: block;}
.dsktp_hide .menu_items{display: none;}
.mb30{
	margin-bottom: 30px;
}

.btn{
	background: $blue;
	border: 1px solid darken($blue,4%);
	&:hover{background: darken($blue,2%);}
}

body{
    background:#fff;
    color:#666;
    font-size:13px;
    line-height: 1.6em;
    font-family: 'Arial' sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Georgia, serif';
}

.navbar{
	background: #f2f2f2;
	margin-bottom: 0;
}

.navbar-brand{
	padding-top: 10px;
}

.hero{
	background: url(../img/hero.jpg) no-repeat 0 0;
    background-position: top center;
    min-height: 620px;
    height: auto;
}


@media handheld, only screen and (max-width: 767px) {


}

@media handheld, only screen and (max-width: 497px) {

}

