// applet, object, iframe,body,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend, caption,img, header, section {
//     margin: 0;
//     padding: 0;
//     outline:none;
//     border: none;
//     box-sizing: border-box;
// }

@import "compass/css3";

$black: #000;
$blue: #009FDA;
$mobile : false;

$democrat:#3877e0;
$republican:#e03838;

.mb_hide{display: block;}
.dsktp_hide .menu_items{display: none;}

.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}

.btn{
	background: $blue;
	color: #fff;
	border: 1px solid darken($blue,4%);
	&:hover{background: darken($blue,3%);color: #fff;}

	&.btn-lg{
		width: 200px;
	}

	&.btn-cnt{
		margin:0 auto;
		display: block;
	}
}

body{
    background:#eae9e9;
    color:#666;
    font-size:13px;
    line-height: 1.6em;
    font-family: 'Arial' sans-serif;
    background-color: #eae9e9;
	background-image: -webkit-linear-gradient(top, #ffffff, #eae9e9);
	background-image: -moz-linear-gradient(top, #ffffff, #eae9e9);
	background-image: -o-linear-gradient(top, #ffffff, #eae9e9);
	background-image: -ms-linear-gradient(top, #ffffff, #eae9e9);
	background-image: linear-gradient(top, #ffffff, #eae9e9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eae9e9');
	min-height: 1000px;
	padding-bottom: 100px;
}


h1,h2,h3,h4,h5,h6{
	color: #444;
	font-family: 'Georgia', serif;
}

h1,h2,h3{
	font-weight: 600;
}

.container-fluid.billboard{
	padding: 0;
}

.billboard{
	background: url(../img/hero.jpg) no-repeat 0 0;
	min-height: 680px;
	background-position: top center;
	margin-bottom: 50px;

	h2{
		color: $black;
		font-size: 68px;
		padding: 5px 8px;
		margin-top: 13%;
		font-weight: 500;
		text-align: center;
		line-height: 1.3em;
		font-weight: 600;
		@include text-shadow(0 3px 5px 10px #fff);

		span{
			font-size: 75px;
			
			clear: both;
			display: inline-block;
		}
	}

	.btn{
		width: 230px;
		height: 65px;
		font-weight: 800;
		font-size: 16px;
		padding-top: 20px;
		margin: 0 auto;
		display: block;
		margin-top: 40px;
		@include box-shadow(0 2px 3px #666);
	}

	form{
		
		background: #fff;
		@include border-radius(5px);
		padding: 30px;
		margin-top: 40px;
		@include box-shadow(0 3px 8px #555);

		h3{margin-top: 0;margin-bottom:25px;text-align: center;}

		input.form-control{
			background: #f8f8f8;
		}

		.btn{
			margin: 0 auto;
			display: block;
			margin-top: 30px;
		}
	}
}

h2.intro{
	font-size: 40px;
	border-bottom: 1px dashed darken(#cecece,15%);
	margin-bottom: 40px;
	padding-bottom: 10px;
}

.row .bill_details {
	margin-top: 40px;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	@include box-shadow(0 3px 10px #c4c4c4);
}

div a{
	overflow-wrap: break-word;
}

a{
	color: $blue;

	&:hover{
		color: darken($blue,7%);
		text-decoration: none;
	}
}

.detail_img{
	border: 6px solid #ccc;
	margin-bottom: 10px;
}

p.party{
	padding: 3px 5px;
	width: 197px;
	&.republican{background: $republican;color: #fff;}
	&.democrat{background: $democrat;color: #fff;}
}


.row.bb{
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.navbar{
	background-color: #e1e1e1;
	background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e1e1e1');
	border-bottom: 1px solid darken(#cecece,3%);
	border-top: 1px solid #fff;
	margin-bottom: 30px;
}

.home .navbar{
	margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #666;
    background-color: #fefefe;
}

.navbar-brand{
	padding-top: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #ccc;
    background: #fff;
}

.errorlist{
	color: tomato;
	font-weight: 600;
	padding-left: 10px;
	margin-top: 20px;
}

.errors{
	color: tomato;
	font-weight: 600;
	padding-left: 10px;
}

.form-control{
	margin-bottom: 20px;
}

.centered_form{
	margin-top: 50px;
	padding-bottom: 25px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include box-shadow(0 4px 8px #c4c4c4);

	h2{
		background: #333;
		color: #eee;
		padding: 3px 5px 3px 10px;
		margin-bottom: 20px;
		font-size: 28px;
	}
}

input.form-control{
	height: 40px;
}

div.divider{
	border-bottom: 2px solid #ddd;
	padding-bottom:20px;
	margin-bottom: 20px;
}

.bill_details,.cur_session_bill{
	h4{
		background: #eee;
		border: 1px solid #ddd;
		@include border-radius(3px);
		font-size: 18px;
		padding: 5px 7px;
		margin-top: 40px;
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 600;
	}
}

.spn_leg_bill_type{
	h5{
		font-size: 18px;
		font-weight: 600;
	}

	.btn{
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

.bill_detail_title{
	font-size: 25px;
	font-weight: 600;
}

.heading{
	background: #eee;
	border: 1px solid #ddd;
	@include border-radius(3px);
	color: #000;
	font-size: 18px;
	margin-bottom: 20px;
}

.vote_result{
	text-align: center;
	padding: 3px 5px;
	width: 80px;

	&.vote_pass{	
		color: #fff;
		background: #2bc77c;
	}

	&.vote_fail{
		color: #fff;
		background: #e64242;
	}
}

div.glossary{
	margin-top: 40px;
	background: #fff;
	border: 1px solid #ddd;
	@include box-shadow(0 3px 10px #c4c4c4);
}

#filter_bills{
	input{
		// float: left;
		// max-width: 280px;
	}

	.btn.clear{
		clear: both;
		float: none;
	}
}

.select2-container{display: block !important;}

#leg_info{
	clear: both;
}

.home_find_legislator{
	overflow: auto;
	background-color: #e1e1e1;
	background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e1e1e1');
	border: 1px solid darken(#cecece,3%);
    @include border-radius(3px);
    padding: 15px;
    margin-bottom: 40px;

    .select2.select2-container{
    	margin-bottom: 20px;
    }

    p.lead{
    	margin-bottom: 10px;
    }
}

.about{
	margin-top: 40px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    @include box-shadow(0 3px 10px #c4c4c4);

	h1{
		margin-bottom: 40px;
		border-bottom: 1px solid #ddd;
	}

	p{
		line-height: 1.8em;
		margin-bottom: 20px;
	}
}


.news{
	h4{
		font-size: 24px;
		border-bottom: 1px solid #bbb;
		margin-bottom: 20px;
	}

	p{
		border-bottom: 1px dashed #bbb;
		padding-bottom: 12px;
		margin-bottom: 15px;
	}

	.btn{
		margin-top: 20px;
	}
}

.selectFix{
	select{
		max-width: 100%;
	}
}

@media handheld, only screen and (max-width: 767px) {
	
	.billboard{
		min-height: 500px;
	}

	.billboard form{
		padding: 20px;
	}

	.billboard h2{
		font-size: 40px;
		text-align: center;
		line-height: 1.8em;
		span{
			font-size: 65px;
		}
	}

	.billboard .container{
		padding: 20px;
	}

	
}

@media handheld, only screen and (max-width: 497px) {
	
	.container{
		padding: 0;
	}
	.navbar .container{
		padding: 0 15px;
	}

	.billboard{min-height: 430px;}

	.billboard h2{
		line-height: 1.7em;

		span{
			font-size: 50px;
		}
	}

	h2.intro{
		font-size: 25px;
	}

	.navbar-brand{
		padding: 10px 5px 5px;
		img{
			max-width: 240px;
			height: auto;
		}
	}

	.row{
		margin-left: 15px;
		margin-right: 15px;
	}

	.billboard h2{
		font-size: 30px;
		text-align: center;
	}

	.reg_form{
		padding: 0;
	}
	
	.billboard .container{
		padding: 10px;
	}

	.cur_session_bill{
		h4{font-size: 18px;}
	}

	.bill_detail_title{
		font-size: 20px;
	}

	.centered_form h2{
		font-size: 20px;
	}
	
}

