/* line 18, main.scss */
.mb_hide {
  display: block;
}

/* line 19, main.scss */
.dsktp_hide .menu_items {
  display: none;
}

/* line 21, main.scss */
.mt10 {
  margin-top: 10px;
}

/* line 22, main.scss */
.mt20 {
  margin-top: 20px;
}

/* line 23, main.scss */
.mt30 {
  margin-top: 30px;
}

/* line 24, main.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 25, main.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 27, main.scss */
.btn {
  background: #009FDA;
  color: #fff;
  border: 1px solid #0090c6;
}
/* line 31, main.scss */
.btn:hover {
  background: #0094cb;
  color: #fff;
}
/* line 33, main.scss */
.btn.btn-lg {
  width: 200px;
}
/* line 37, main.scss */
.btn.btn-cnt {
  margin: 0 auto;
  display: block;
}

/* line 43, main.scss */
body {
  background: #eae9e9;
  color: #666;
  font-size: 13px;
  line-height: 1.6em;
  font-family: 'Arial' sans-serif;
  background-color: #eae9e9;
  background-image: -webkit-linear-gradient(top, #ffffff, #eae9e9);
  background-image: -moz-linear-gradient(top, #ffffff, #eae9e9);
  background-image: -o-linear-gradient(top, #ffffff, #eae9e9);
  background-image: -ms-linear-gradient(top, #ffffff, #eae9e9);
  background-image: linear-gradient(to bottom, #ffffff, #eae9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eae9e9');
  min-height: 1000px;
  padding-bottom: 100px;
}

/* line 61, main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Georgia', serif;
}

/* line 66, main.scss */
h1, h2, h3 {
  font-weight: 600;
}

/* line 70, main.scss */
.container-fluid.billboard {
  padding: 0;
}

/* line 74, main.scss */
.billboard {
  background: url(../img/hero.jpg) no-repeat 0 0;
  min-height: 680px;
  background-position: top center;
  margin-bottom: 50px;
}
/* line 80, main.scss */
.billboard h2 {
  color: #000;
  font-size: 68px;
  padding: 5px 8px;
  margin-top: 13%;
  font-weight: 500;
  text-align: center;
  line-height: 1.3em;
  font-weight: 600;
  text-shadow: 0 3px 5px #fff;
  text-shadow: 0 3px 5px 10px #fff;
}
/* line 91, main.scss */
.billboard h2 span {
  font-size: 75px;
  clear: both;
  display: inline-block;
}
/* line 99, main.scss */
.billboard .btn {
  width: 230px;
  height: 65px;
  font-weight: 800;
  font-size: 16px;
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  -moz-box-shadow: 0 2px 3px #666;
  -webkit-box-shadow: 0 2px 3px #666;
  box-shadow: 0 2px 3px #666;
}
/* line 111, main.scss */
.billboard form {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  margin-top: 40px;
  -moz-box-shadow: 0 3px 8px #555;
  -webkit-box-shadow: 0 3px 8px #555;
  box-shadow: 0 3px 8px #555;
}
/* line 119, main.scss */
.billboard form h3 {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}
/* line 121, main.scss */
.billboard form input.form-control {
  background: #f8f8f8;
}
/* line 125, main.scss */
.billboard form .btn {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

/* line 133, main.scss */
h2.intro {
  font-size: 40px;
  border-bottom: 1px dashed #a8a8a8;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

/* line 140, main.scss */
.row .bill_details {
  margin-top: 40px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 3px 10px #c4c4c4;
  -webkit-box-shadow: 0 3px 10px #c4c4c4;
  box-shadow: 0 3px 10px #c4c4c4;
}

/* line 148, main.scss */
div a {
  overflow-wrap: break-word;
}

/* line 152, main.scss */
a {
  color: #009FDA;
}
/* line 155, main.scss */
a:hover {
  color: #0085b6;
  text-decoration: none;
}

/* line 161, main.scss */
.detail_img {
  border: 6px solid #ccc;
  margin-bottom: 10px;
}

/* line 166, main.scss */
p.party {
  padding: 3px 5px;
  width: 197px;
}
/* line 169, main.scss */
p.party.republican {
  background: #e03838;
  color: #fff;
}
/* line 170, main.scss */
p.party.democrat {
  background: #3877e0;
  color: #fff;
}

/* line 174, main.scss */
.row.bb {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* line 180, main.scss */
.navbar {
  background-color: #e1e1e1;
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e1e1e1');
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #fff;
  margin-bottom: 30px;
}

/* line 193, main.scss */
.home .navbar {
  margin-bottom: 0;
}

/* line 197, main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #666;
  background-color: #fefefe;
}

/* line 202, main.scss */
.navbar-brand {
  padding-top: 10px;
}

/* line 206, main.scss */
.navbar-default .navbar-toggle {
  border-color: #ccc;
  background: #fff;
}

/* line 211, main.scss */
.errorlist {
  color: tomato;
  font-weight: 600;
  padding-left: 10px;
  margin-top: 20px;
}

/* line 218, main.scss */
.errors {
  color: tomato;
  font-weight: 600;
  padding-left: 10px;
}

/* line 224, main.scss */
.form-control {
  margin-bottom: 20px;
}

/* line 228, main.scss */
.centered_form {
  margin-top: 50px;
  padding-bottom: 25px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 4px 8px #c4c4c4;
  -webkit-box-shadow: 0 4px 8px #c4c4c4;
  box-shadow: 0 4px 8px #c4c4c4;
}
/* line 236, main.scss */
.centered_form h2 {
  background: #333;
  color: #eee;
  padding: 3px 5px 3px 10px;
  margin-bottom: 20px;
  font-size: 28px;
}

/* line 245, main.scss */
input.form-control {
  height: 40px;
}

/* line 249, main.scss */
div.divider {
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* line 256, main.scss */
.bill_details h4, .cur_session_bill h4 {
  background: #eee;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 7px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}

/* line 270, main.scss */
.spn_leg_bill_type h5 {
  font-size: 18px;
  font-weight: 600;
}
/* line 275, main.scss */
.spn_leg_bill_type .btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 281, main.scss */
.bill_detail_title {
  font-size: 25px;
  font-weight: 600;
}

/* line 286, main.scss */
.heading {
  background: #eee;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 295, main.scss */
.vote_result {
  text-align: center;
  padding: 3px 5px;
  width: 80px;
}
/* line 300, main.scss */
.vote_result.vote_pass {
  color: #fff;
  background: #2bc77c;
}
/* line 305, main.scss */
.vote_result.vote_fail {
  color: #fff;
  background: #e64242;
}

/* line 311, main.scss */
div.glossary {
  margin-top: 40px;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 3px 10px #c4c4c4;
  -webkit-box-shadow: 0 3px 10px #c4c4c4;
  box-shadow: 0 3px 10px #c4c4c4;
}

/* line 324, main.scss */
#filter_bills .btn.clear {
  clear: both;
  float: none;
}

/* line 330, main.scss */
.select2-container {
  display: block !important;
}

/* line 332, main.scss */
#leg_info {
  clear: both;
}

/* line 336, main.scss */
.home_find_legislator {
  overflow: auto;
  background-color: #e1e1e1;
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e1e1e1');
  border: 1px solid #c6c6c6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 40px;
}
/* line 350, main.scss */
.home_find_legislator .select2.select2-container {
  margin-bottom: 20px;
}
/* line 354, main.scss */
.home_find_legislator p.lead {
  margin-bottom: 10px;
}

/* line 359, main.scss */
.about {
  margin-top: 40px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 3px 10px #c4c4c4;
  -webkit-box-shadow: 0 3px 10px #c4c4c4;
  box-shadow: 0 3px 10px #c4c4c4;
}
/* line 366, main.scss */
.about h1 {
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
/* line 371, main.scss */
.about p {
  line-height: 1.8em;
  margin-bottom: 20px;
}

/* line 379, main.scss */
.news h4 {
  font-size: 24px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
}
/* line 385, main.scss */
.news p {
  border-bottom: 1px dashed #bbb;
  padding-bottom: 12px;
  margin-bottom: 15px;
}
/* line 391, main.scss */
.news .btn {
  margin-top: 20px;
}

/* line 397, main.scss */
.selectFix select {
  max-width: 100%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 404, main.scss */
  .billboard {
    min-height: 500px;
  }

  /* line 408, main.scss */
  .billboard form {
    padding: 20px;
  }

  /* line 412, main.scss */
  .billboard h2 {
    font-size: 40px;
    text-align: center;
    line-height: 1.8em;
  }
  /* line 416, main.scss */
  .billboard h2 span {
    font-size: 65px;
  }

  /* line 421, main.scss */
  .billboard .container {
    padding: 20px;
  }
}
@media handheld, only screen and (max-width: 497px) {
  /* line 430, main.scss */
  .container {
    padding: 0;
  }

  /* line 433, main.scss */
  .navbar .container {
    padding: 0 15px;
  }

  /* line 437, main.scss */
  .billboard {
    min-height: 430px;
  }

  /* line 439, main.scss */
  .billboard h2 {
    line-height: 1.7em;
  }
  /* line 442, main.scss */
  .billboard h2 span {
    font-size: 50px;
  }

  /* line 447, main.scss */
  h2.intro {
    font-size: 25px;
  }

  /* line 451, main.scss */
  .navbar-brand {
    padding: 10px 5px 5px;
  }
  /* line 453, main.scss */
  .navbar-brand img {
    max-width: 240px;
    height: auto;
  }

  /* line 459, main.scss */
  .row {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 464, main.scss */
  .billboard h2 {
    font-size: 30px;
    text-align: center;
  }

  /* line 469, main.scss */
  .reg_form {
    padding: 0;
  }

  /* line 473, main.scss */
  .billboard .container {
    padding: 10px;
  }

  /* line 478, main.scss */
  .cur_session_bill h4 {
    font-size: 18px;
  }

  /* line 481, main.scss */
  .bill_detail_title {
    font-size: 20px;
  }

  /* line 485, main.scss */
  .centered_form h2 {
    font-size: 20px;
  }
}
