{% extends "base.html" %}

{% block content %}

<h1>About</h1>

<p>Tabs on Tallahassee, powered by the Orlando Sentinel, gives you access to the actions of Florida’s legislature. Keep track of your representative or senator and keep tabs on legislation about topics and places that matter to you. You can find the latest political news and unfiltered actions of the legislature here in one stop.</p>

<p>News organizations across the state can access a free data feed of legislative actions to build their own tools to shine a brighter light on actions of the legislature.</p>

<p>Tabs on Tallahassee was made possible in part by a $35,000 grant from the John S. and James L. Knight Foundation to create a database of voting records of Florida’s legislators.</p>

{% endblock %}
