{% extends 'rest_framework/api.html' %}

{% block body %}
<body>
  <div class="wrapper">
      <div class="container">
      <div id="content">

          <h1>Tabs on Tallahassee API</h1>

          <p>
              The Tabs on Tallahassee API uses the <a href="https://jsonapi.org">JSON API</a> format.
          </p>

          <p> All API methods are accessible while
              {% if request.user.is_anonymous %}
              <a href="/login/">logged in</a>
              {% else %}
              logged in
              {% endif %}
              or by retreiving your API key from

              {% if request.user.is_anonymous %}
              your preferences page.
              {% else %}
              <a href="/preferences/">your preferences page</a>.
              {% endif %}

        </p>
        <p>
              Pass the API key as the <tt>X-APIKEY</tt> header (<b>recommended</b>)
              or as the <tt>apikey</tt> url parameter.
          </p>


          <h3>Endpoints</h3>
          <p>
              All search endpoints can be paginated w/ <tt>page=</tt> and
          fields may be specified w/ the <tt>fields=</tt> parameter.
          </p>
          <ul>
              <li><a href="/api/people/">/api/people/</a> - People list/search.</li>
              <li><a href="/api/bills/">/api/bills/</a> - Bill list/search.</li>
              <li><a href="/api/votes/">/api/votes/</a> - Votes list/search.</li>
              <li><a href="/api/organizations/">/api/organizations/</a> - Organizations list/search.</li>
          </ul>

          <h3>Detail Lookup</h3>
          Additionally, all objects can be fetched by their identifier:

          <ul>
              <li><a href="/api/ocd-person/0cec4c61-0923-4f45-902b-67027bc35ebe/">Example Legislator</a></li>
              <li><a href="/api/ocd-bill/512f393b-b9ee-4d93-a437-9004abb6945e/">Example Bill</a>
              <li><a href="/api/ocd-vote/aa705034-dd06-4e73-9bc5-2ac8a3550f50/">Example Vote</a></li>
          </ul>

          <h3>Examples</h3>
          <li><a href="/api/votes/?voter=Murphy,%20Amanda&option=yes">Votes where Amanda Murphy voted yes</a></li>
          <li><a href="/api/bills/?subject=legislature">Bills w/ the 'legislature' subject</a></li>
          <li><a href='/api/bills/?extras={"places":["Citrus"]}'>Bills w/ mentioning the Citrus County, FL</a></li>
          <li><a href="/api/people/?latitude=28.4&longitude=-82.2">Legislators representing area surrounding 28.4N, 82.2W</a></li>

      </div><!-- /.content -->
    </div><!-- /.container -->
  </div><!-- ./wrapper -->
</body>
{% endblock %}
</html>
