{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen"/>
        <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="{% url 'latest' %}static/img/favicon.png" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/glossary.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script src="//assets.adobedtm.com/7d2fc91933ba40e7a03b241558ec7ff2243bc283/satelliteLib-991d10aab4dfaebb02bc6815df8a7773c8bc47d7.js"></script>

        {% block head %}
        {% endblock head %}

        <title>Tabs on Tallahassee</title>
    </head>

    <body class="home">
      
      <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'latest' %}"><img src="{% url 'latest' %}static/img/tot-logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'latest' %}">Home/Latest News<span class="sr-only">(current)</span></a></li>
                <li><a href="/about/">About</a></li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Legislators<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/all_legislators/">List</a></li>
                    <li><a href="/find_legislator/">Find your Legislator</a></li>
                  </ul>
                </li>
                <li><a href="/glossary">Legislative glossary</a></li>
                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bills<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'by_topic' %}">Bills by Topic</a></li>
                  <li><a href="{% url 'by_location' %}">Bills by Location</a></li>
                  <li><a href="{% url 'by_legislator' %}">Bills by Legislator</a></li>
                  <li><a href="{% url 'current_session' %}">Bills in Current Session</a></li>
                  {% if user.is_anonymous %}
                  <li><a href="{% url 'current_session' %}">Latest Bill Activity</a></li>
                  {% else %}
                  <li><a href="{% url 'latest' %}">Latest Bill Activity</a></li>
                  {% endif %}
                </ul>
              </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <!-- {{ user }} -->
                  <li>
                    {% if user.is_anonymous %}
                    <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                  </li>
                  {% else %}
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{user}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'preferences' %}">Preferences</a></li>
                    <li><a href="/api/">API</a></li>
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
                  </ul>
                </li>
                  {% endif %}
            
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% if user.is_anonymous %}
        <!--  TODO - Move this into a template in base.html with a conditional statement #} -->
        <div class="container-fluid billboard">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h2>Tracking the Florida Legislature in <span>  Real Time</span></h2>
                <a href="{% url 'registration_register' %}" class="btn">Register Now</a>
              </div>
             
            </div>
          </div>
        </div>
        {% endif %}
        <div class="container main">

            <div class="row">
              <div class="{% block colclass %} {% endblock colclass %}">
                  <div>
                    <h2>{% block title %}{% endblock title %}</h2>
                    <p>{% block subtitle %}{% endblock subtitle %}</p>
                  </div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <script>
        {% block bottomscript %}{% endblock bottomscript %}
        </script>
        <script src="{% static 'js/site.js' %}" type="text/javascript"></script>
        <script type="text/javascript">_satellite.pageBottom();</script>
    </body>
</html>
