{% extends "base.html" %}
{% load names %}
{% block colclass %} bill_details {% endblock %}
{% block content %}

<div>
    <h1>{{ legislator.name|name_swap }}</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ legislator.image }}" class="legislator-image">
        </div>
        <div class="col-md-8">
            <hr/>
            <p>{{ post }}</p>
            <p>{{ party }}</p>
            <p>Member since {{ legislator.extras.member_since }}</p>
            <a href="#voting_history" class="btn btn-primary" role="button">Voting History</a>
            <a href="#contact_details" class="btn btn-primary" role="button" data-toggle="collapse">Contact</a>
            <div id="contact_details" class="collapse">
                <br />
                <p><i>Email:</i> <a href="mailto:{{ contact_details.email }}"> {{ contact_details.email }}</a></p>
                <div class="col-md-6">
                    <div><strong>Capitol:</strong></div>
                    {% for entry in contact_details.capitol %}
                        <div><i>{{ entry.type }}</i></div>
                        <div>{{ entry.value }}</div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div><strong>District:</strong></div>
                    {% for entry in contact_details.district %}
                        <div><i>{{ entry.type }}</i></div>
                        <div>{{ entry.value }}</div>
                    {% endfor %}
                </div>
            </div>
            {% if not user.is_anonymous %}
            <form id="add_legislator" action="" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Track this Legislator">
            </form>
            {% endif %}
            {% if message %}
            <p> {{ message }} See your <a href="{% url 'preferences' %}">preferences page to update.</a></p>
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 spn_leg_bill_type">
            <h4>Recent Votes</h4>
            <hr/>
            {% for vote in recent_votes %}
            
            <h5>{{ vote.vote_event.bill.title }}</h5>
            <p><strong>{{ vote.vote_event.bill.identifier }}</strong></p>
            <p>Vote: {{ vote.option }}</p>
            <a href="{% url 'bill_detail' vote.vote_event.bill.legislative_session.identifier vote.vote_event.bill.identifier %}" class="btn btn-primary">More on this bill</a>
            <div class="divider"></div>
            {% endfor %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 spn_leg_bill_type">
            <h4>Sponsored Legislation</h4>
            {% for bill in sponsored_bills %}
            <h5>{{ bill.title }}</h5>
            <p><strong>{{ bill.identifier }}</strong></p>
            <p><strong>Sponsor(s):</strong></p>
                <ul>
                {% for sponsor in bill.sponsorships.all %}
                <li>{{ sponsor.entity_name }}</li>
                {% endfor %}
                </ul>
            
            <p><b>Latest action:</b></p>
            <p>{{ bill.latest_action.date }} - {{ bill.latest_action.description }}</p>
            <a href="{% url 'bill_detail' bill.legislative_session.identifier bill.identifier %}" class="btn btn-primary">More on this bill</a>
            <div class="divider"></div>
            {% endfor %}
        </div>
    </div>
    <hr/>
    <div class="row" id="voting_history">
        <div class="col-md-12">
            <h4>Voting History</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vote in  votes %}
                        <tr>
                            <td>
                                <a href="{% url 'bill_detail' vote.vote_event.bill.legislative_session.identifier vote.vote_event.bill.identifier %}">{{ vote.vote_event.bill.identifier }}</a> - {{ vote.vote_event.bill.title }}
                            </td>
                            <td>
                                {{ vote.vote_event.start_date }}
                            </td>
                            <td>
                                {{ vote.option }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if votes.has_previous %}
                        <a href="?page={{ votes.previous_page_number }}#voting_history">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ votes.number }} of {{ votes.paginator.num_pages }}.
                    </span>

                    {% if votes.has_next %}
                        <a href="?page={{ votes.next_page_number }}#voting_history">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottomscript %}
glossary_replace();
{% endblock %}

