{% extends "base.html" %}
{% load i18n %}
{% load names %}
{% load staticfiles %}

{% block head %}
<script src='https://maps.googleapis.com/maps/api/js'></script>
<script src='{% static "js/gmaps.js" %}'></script>
<script>
$(document).ready(function() {
    var map = new GMaps({
            div: '#map',
            lat: {{ lat }},
            lng: {{ lng }},
            zoom: 10
        });

    map.removeMarkers();
    map.addMarker({
       lat: {{ lat }},
       lng: {{ lng }}
    });

    GMaps.geolocate({
        success: function(position) {
            $("#locate").click(function() {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                $.get('../get_latlon/', {
                    // user: results.name,
                    lat: lat,
                    lon: lon
                    // address: address.value
                }).always(function() {
                    location.reload();
                });
                return false;
            });
        }
    });

    $('#enter_location').submit(function(e){
        e.preventDefault();
        GMaps.geocode({
            address: $('#address').val().trim(),
            callback: function(results, status){
                if ( status == 'OK' ){
                    var latlng = results[0].geometry.location,
                            lat = latlng.lat(),
                            lon = latlng.lng();
                    $.get('{% url "get_latlon" %}', {
                        user: results.name,
                        lat: lat,
                        lon: lon,
                        address: address.value
                    }).always(function() {
                        location.reload();
                    });
                }
            }
        });
    });
});
</script>
{% endblock %}

{% block title %}Find Your Legislator{% endblock title %}
{% block subtitle %}Enter an address to find your Senator and Representative{% endblock subtitle %}
{% block colclass %} col-md-6  {% endblock %}
{% block content %}

<div id="map"></div>

<form action="" method="post">
{% csrf_token %}
    Use your current location 
    <input type="submit" class="btn" value="Go" id="locate"/>
</form>


{% include "preferences/location_form.html" %}

<div class="row">
{% if error_message %}

<div class="col-md-6">
    <p><strong>{{ error_message }}</strong></p>
</div>

{% else %}

<div class="col-md-6">
{% if senator_contact_details %}

    <p><strong>Your senator is:</strong></p>
    <p><a href="{% url 'legislator_detail' address_senator.id %}">{{ address_senator.name|name_swap }}</a></p>
    <a href="{% url 'legislator_detail' address_senator.id %}"><img src="{{ address_senator.image }}" class="legislator-image"></a>
    
    <div><a href="#sen_contact_details" class="btn btn-primary" role="button" data-toggle="collapse">Contact Legislator</a></div>
    <div id="sen_contact_details" class="collapse">
        <div><i>Email:</i><a href="mailto:{{ senator_contact_details.email }}"> {{ senator_contact_details.email }}</a></div>
        <div class="col-md-6">
            <div><strong>Capitol:</strong></div>
            {% for entry in senator_contact_details.capitol %}
                <div><i>{{ entry.type }}</i></div>
                <div>{{ entry.value }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div><strong>District:</strong></div>
            {% for entry in senator_contact_details.district %}
                <div><i>{{ entry.type }}</i></div>
                <div>{{ entry.value }}</div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>No senator found</p>
{% endif %}
</div>


<div class="col-md-6">
{% if representative_contact_details %}
    <p><strong>Your representative is:</strong></p>
    <p><a href="{% url 'legislator_detail' address_representative.id %}">{{ address_representative.name|name_swap }}</a></p>
    <a href="{% url 'legislator_detail' address_representative.id %}"><img src=" {{ address_representative.image }}" class="legislator-image"></a>
    <div><a href="#rep_contact_details" class="btn btn-primary" role="button" data-toggle="collapse">Contact Legislator</a></div>
    <div id="rep_contact_details" class="collapse">
    <div><i>Email:</i> <a href="mailto:{{ representative_contact_details.email }}"> {{ representative_contact_details.email }}</a></div>
        <div class="col-md-6">
            <div><strong>Capitol:</strong></div>
            {% for entry in representative_contact_details.capitol %}
                <div><i>{{ entry.type }}</i></div>
                <div>{{ entry.value }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div><strong>District:</strong></div>
            {% for entry in representative_contact_details.district %}
                <div><i>{{ entry.type }}</i></div>
                <div>{{ entry.value }}</div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No representative found</p>
    {% endif %}
</div>

    {% endif %}
</div>
{% if senator_contact_details %}

<hr/>
<div class="row">
    <div class="col-md-12">
        <p class="lead">Recently Sponsored Legislation</p>
        <p><strong>{{ address_senator.name|name_swap }}</strong></p>
        <ul>
            {% for sponsorship in senator_sponsorships %}
            <li>
                <a href="{% url 'bill_detail' sponsorship.bill.legislative_session.identifier sponsorship.bill.identifier %}" > {{ sponsorship.bill.identifier }} </a> - {{ sponsorship.bill.title }}
            </li>
            {% endfor %}
        </ul>

        <p><strong>{{ address_representative.name|name_swap }}</strong></p>
        <ul>
            {% for sponsorship in rep_sponsorships %}
            <li>
                <a href="{% url 'bill_detail' sponsorship.bill.legislative_session.identifier sponsorship.bill.identifier %}" > {{ sponsorship.bill.identifier }} </a> - {{ sponsorship.bill.title }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock content %}
